p {
  color: blue;
}

body {
  width: 100%;
  height: 100%;
}
.weather > table {
  table-layout: fixed;
  padding: 0;
  margin-top: 5px;
}

.weather > table > thread{
  text-align: left;
  align-content: space-around;
  white-space: nowrap;
}

.weather > table > thread > tr:nth-Child(odd){
  background-color: lightblue;
}

.weather > table > thread > tr:nth-Child(even){
  background-color: #aaaaff;
}

.weather > button {
  height: 30px;
}

section{
  border: 5px solid purple;
  border-radius: 30px;
  padding: 26px;
  width: 275px;
  height: 275px;
  display: inline-block;
  position: absolute;
}

iframe {
  max-height: 275px;
}
section > button.delete{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: left;
  border-radius: 5px;
  background: rgba(255,0,0,.5);
  color: white;
  opacity: 0;
  visibility: hidden; /* hidden elements don't register clicks */
}

section:hover > button.delete {
  opacity: 1;
  visibility: visible;
}
