p {
  color: blue;
}
.weather {
  max-width: 90%;
}
.weather > ul {
  
}

.weather > ul > ul {
  margin: 5px;
  background-color: lightblue;
  border: 1px solid #bbb;
  border-radius: 1em;
  max-width: 15em;
}
