body {
  width: 90%;
  height: 90%;
  background-color: lightblue;
}

#hideMe {
  visibility: visible;
  left: 1px;
  top: 1px;
  position: absolute;
}
#hideMe :hover{
    opacity: 1;
}
.weather > table {
  table-layout: fixed;
  padding: 0;
  margin-top: 5px;
}

.weather > table > thread{
  text-align: left;
  align-content: space-around;
  white-space: nowrap;
}

.weather > table > thread > tr:nth-Child(odd){
  background-color: lightblue;
}

.weather > table > thread > tr:nth-Child(even){
  background-color: #aaaaff;
}

.weather > button {
  height: 30px;
  width:17%;
}

section{
  border: 5px solid purple;
  border-radius: 30px;
  padding: 26px;
  width: 275px;
  height: 275px;
  display: inline-block;
  position: absolute;
  background-color: rgba(0,0,255,0.4);
}

iframe {
  max-height: 275px;
}
section > button.delete{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: left;
  border-radius: 5px;
  background: rgba(255,0,0,.5);
  color: white;
  opacity: 0;
  visibility: hidden; /* hidden elements don't register clicks */
}

section:hover > button.delete {
  opacity: 1;
  visibility: visible;
}
