<title>index</title>
<link rel="stylesheet" href="./styleSheet.css">
<h1>Header</h1>
<body>
<article>
  <ul>
    {{#each results}}
      <li id = "{{this.wid_id}}">
        <h3>{{this.wid_name}} </h3>
        <p>{{this.wid_description}}</p>
      </li>
    {{/each}}
  </ul>
</article>
</body>
