<h1>Header</h1>
<section>
  <form>
    <input id="newName" type="name" placeholder="name">
    <textarea id="newDesc" placeholder="description" rows="4" cols="50"></textarea>
    <button id="submit" onclick="submitted()">Submit</button>
  </form>
</section>
{{#each results}}
  <script>
    populate("{{this.wid_name}}");
  </script>
  <section id = "{{this.wid_name}}">
      <h3>{{this.wid_name}} </h3>
  </section>
{{/each}}
